<section class="hero-section">
    <div class="text-container">
        <h1>Academix</h1>
        <p>
            Plataforma integral de gestión estudiantil diseñada para optimizar la administración de datos en entornos educativos.
        </p>
        <a [routerLink]="['/usuarios/ingresar']" class="cta-redirect">Ingresar</a>
    </div>
</section>
<section class="first-panel-section">
    <div class="text-container">
        <p class="first-panel-section-text">
            Con Academix, las instituciones educativas pueden simplificar procesos administrativos, mejorar el seguimiento del desempeño estudiantil y fomentar una experiencia educativa más eficaz y personalizada.
        </p>
    </div>
</section>
<p>usuarios-principal works!</p>
<!-- redirecciona al login -->
